@import url('https://fonts.googleapis.com/css2?family=Delius&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right top, #051937, #063d51, #366163, #6c8478, #5a5c56);
}

.container {
    width: 500px;
    height: 450px;
    border: 2px solid #051937;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

h3 {
    margin-top: 50px;
}

.images {
    font-size: 100px;
    color: #051937;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 30px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    display: flex;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #051937;
}

.subscribe-button {
    padding: 10px;
    border: 1px solid #ccc;
    width: 70%;
    background-color: lightblue;
    border-radius: 10px;
    cursor: pointer;
    font-size: 19px;
    transition: all 0.5s ease;
}

.subscribe-button:hover {
    backdrop-filter: blur(50px);
    color: white;
    background-color: #051937;
}

.container>p {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;

}

.container>p>a {
    color: rgba(0, 0, 255, 0.6e62);
    text-decoration: none;
}